@import url('https://fonts.googleapis.com/css2?family=Anton&family=Barlow+Condensed:ital,wght@1,100&family=Fjalla+One&family=Quicksand:wght@700&family=Raleway:ital,wght@0,400;1,100&display=swap');


.PageTitle {
	 font-family: 'Raleway';
	 font-size: 60px;
	 color:orange;
	 width: 100%;
	 text-align:center;

}


.order_page{
	 display: flex;

}

.order_col {
	flex-direction: column;
	flex: 50%;
	justify-content: center;
	text-align: center;
}	 

.order_col input {

	 font-family: 'Raleway';
	 width: 100%;
	 height: 50px;
	 padding-right: 10px;
	 margin: 5px;
	 margin-bottom: 10px;

}

.order_col label {
	 font-family: 'Raleway';
}

.order_col button {

	 font-family: 'Raleway';
	 width: 90%;
	 height: 50px;	
	 padding: 10px;
	 margin: 5px;
	 background-color: orange;
	 
	 

}

.order_col button:hover{
	 cursor: pointer;
}

h2 {

	 font-family: 'Raleway';
	 color: orange;
}

.pageText{
	text-align: center;
}


.order{
	 width: 90%;
	 height: auto;
  	 border: 1px solid black;
    margin: 10px;
    display: flex;
    padding: 20px;
	 
    font-family: 'Courier New', Courier, monospace;
	 justify-content: center;
}


.orders{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
 }

.total {
	display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 70px 0;
}