

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Barlow+Condensed:ital,wght@1,100&family=Fjalla+One&family=Quicksand:wght@700&family=Raleway:ital,wght@0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap');


.buttons {
	 width: 80%;
	 margin: auto;
	 display: flex;
	 justify-content: center;
}



.header-final {
	 color: orange !important;
	 text-align: center;
	 font-family: 'Raleway';
}

.choices-final{

	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 width: 80%;
	 margin: auto;
	 padding: 10px;

}

.order-final {
	 display: flex;
	 flex-direction: column;
	 background-color: orange;
	 border: 1px solid white;
	 outline: true;
	 padding: 20px;
}

.data-final {
	 display: flex;
	 flex-direction: row;
	 padding: 5px;
	 margin: 5px;
	 justify-content: center;
	}


.field-final {
	 padding: 5px;
	 color: black;
	 font-family: 'Raleway';
}

.col-final {
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 width: 100%;
}

.field-name-final{
	 color: white;
	 padding: 0px;
	 font-family: 'Raleway';


}

.updateButtons{

	margin: 3px;
}



.topButtons{
	width: 100%;
}

.archive{
	float: right;
}

.PageTitle-final {
color: orange;
font-family: 'Rubik', sans-serif;
margin: 20px;
padding: 20px;

}

.order_page_final{
	background-color: white !important;
}